.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    /*  os dois pontos da imagem servem para achar o diretorio porque o header esta dentro de uma pasta precisa sair e achar a pasta das imagens um ponto para sair o outro para entrar na pasta certa*/
    display: inline-block;
    /* display block para aceitar a altura e largura da imagem */
    background-repeat: no-repeat;
    background-position: center;
    /* arrumar  menu hamburguer tirar a repitção e colocar no centro impedindo assim de esticar o menu */
}
.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* position relative ele libera a posição para colocar top bottom right and left */
}

.cabecalho__espaco{
    display: flex;
    align-items: center;

}

.cabecalho__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    /* o displey none desaparece com elemento e não ocupa espaço */
    position: absolute;
    /* position absolute ele permite movimente de acordo com outro elemento anterior(elemento pai) que nao for de static */
    top: 100%;
    /* top tira o espaco de cima do cabecalho  */
}

.conteiner__botao:checked ~ .lista-menu{
    display: block;
    /* o que foi feito é chamar a função do botao e depois coloca checked ele detecta se aquele input esta preenchido em seguida coloca o ~
    um combinador css, procura outro elemento em seguida para executar o display block */
}

.lista-menu__titulo{ 

    padding: 1em;
    background-color: var(--branco);
    color: var(--laranja);
    font-weight: 700;
    
}
.lista-menu__item{
    background-color: var(--branco);
    padding: 1em;
    color: var(--azul-degrade);
    

}
.lista-menu__link{
    background: var(--azul-degrade);
    /* -webkit-brackground-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    background-clip: text;
    text-transform:uppercase ;
    text-decoration: none;
    color: var(--azul-degrade);
}

.conteiner__botao{
    display: none
}
.cabecalho__titulo{
    display: none;
}
.opcoes{
    display: none;
}

@media screen and (min-width: 1024px){

    .cabecalho__titulo{
        font-family: var(--font-secundaria);
        font-size: 30px;
        font-weight: 700;
        display: block;

    }

    .cabecalho__titulo--negrito{
        font-family: var(--font-secundaria);
        font-size: 30px;
        font-weight: 400;
        
    }
    .opcoes{
        display: flex;
    }
    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;

    }
    .opcoes__link{
        text-decoration: none;
    }
    .cabecalho__imagem-transparente{
        display: none;
    }
    .cabecalho__menu-hamburguer{
        display: none;
    }
    .opcoes__botao:checked ~ .lista-menu{
        display: block;
    }
    .opcoes__botao{
        display: none;
    }
}