.novidades{
    background-color: var(--branco);
    padding: 1em;

}
.novidades__titulo{
    color: var(--azul-degrade);
    margin: 1em;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}
.novidades__texto{
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    margin: 1em;
}

.novidades__cadastrar__email{
    display: flex;
    justify-content: center;
    padding: 1em 6em;
    margin: 1em;
    text-align: center;
    border-radius: 24px;
    width: 90%;
  
}

.novidades__cadastrar__email::placeholder{
    font-family: var(--font-principal);
    color: var(--azul);
    background: url("../assets/Email.svg") no-repeat;

}
.rodape{
    display: flex;
    background-color: var(--branco);

}
hr{
    margin: 0;
}
.rodape__link{
    font-size: 16px;
    font-weight: 400;
    padding: 1em;
    text-decoration: none;
    color:rgba(0, 0, 0, 1);
    
}

@media screen and (min-width: 1024px){
    .novidades{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .contato__descricao{
        margin-right: 1em;
        width: 30%;
    }
    .novidades__titulo{
        font-size: 24px;
    }
    .novidades__cadastrar__email{
        margin-right: 1em;
    }
}